<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AccesoDatos.Properties.Settings.CadenaConexion_BD_Recoleccion"
            connectionString="Data Source=CURSO;Persist Security Info=True;User ID=ESTUDIANTE;Password=123;Unicode=True"
            providerName="System.Data.OracleClient" />
    </connectionStrings>
</configuration>